{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"complexity": [2, 16],
		"dot-notation": [2, { "allowKeywords": false }],
		"max-nested-callbacks": [2, 3],
		"max-params": [2, 3],
		"max-statements": [2, 30],
		"no-extra-parens": [0],
		"no-restricted-syntax": [2, "BreakStatement", "ContinueStatement", "DebuggerStatement", "LabeledStatement", "WithStatement"],
		"operator-linebreak": [2, "before"],
		"spaced-comment": [0],
		"strict": [0]
	}
}
