{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"func-name-matching": 0,
		"indent": [2, 2],
		"multiline-comment-style": 1,
		"no-multi-assign": 1,
		"no-magic-numbers": 0,
		"no-plusplus": 1,
		"no-restricted-syntax": [2, "BreakStatement", "ContinueStatement", "DebuggerStatement", "LabeledStatement", "WithStatement"],
		"spaced-comment": 0,
		"strict": 0,
	},
}
